body {
    top: 0;
    margin: 0;
    width: 100%;
}

@font-face {
 font-family: "sanchez";
 src: url("fonts/Sanchezregular.otf") format("truetype");
}



<!-- Navigation 

nav {
    width: 100%;
}

.navbar, .categories ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar{
    padding: 7px 0;
}

.left {
    margin-left: 90px;
}

.right {
    margin-right: 90px;
    display: flex;
}

.icon {
    margin: auto 15px;
}

.login {
    margin-top: 3px;
}

.categories {
    background-color: #216182;
    padding: 0;
}

.categories ul {
    width: 70%;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    color: white;
    font-family: 'sanchez','Helvetica', 'sans-serial';
}

.categories ul li{
    width: 150px;
    text-align: center;
    height: 50px;
    vertical-align:middle;
    line-height: 50px;
}

.categories ul li:not(:first-child){
    padding: 0 20px;
}

.categories ul li:hover{
    background-color: #4383A4;
}