<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnexionController</servlet-name>
        <servlet-class>Controller.ConnexionController</servlet-class>
        <!-- Les identifiants pour se connecter -->
        <init-param>
            <param-name>login</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>admin</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ShowProducts</servlet-name>
        <servlet-class>servlet.ShowProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCommande</servlet-name>
        <servlet-class>servlet.ShowCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowClientInfomartions</servlet-name>
        <servlet-class>servlet.ShowClientInfomartions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowClientInformations</servlet-name>
        <servlet-class>servlet.ShowClientInformations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnexionController</servlet-name>
        <url-pattern>/ConnexionController</url-pattern>
    </servlet-mapping>
    <!-- Un filtre qui vérifie que l'utilisateur est connecté -->
    <filter>
        <filter-name>ProtectedPageFilters</filter-name>
        <filter-class>filters.ProtectedPageFilters</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProtectedPageFilters</filter-name>
        <url-pattern>/protected/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <!-- Contrôle le temps au bout duquel une session inactive est détruite automatiquement -->
    <servlet-mapping>
        <servlet-name>ShowProducts</servlet-name>
        <url-pattern>/ShowProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCommande</servlet-name>
        <url-pattern>/ShowCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowClientInfomartions</servlet-name>
        <url-pattern>/ShowClientInfomartions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowClientInformations</servlet-name>
        <url-pattern>/ShowClientInformations</url-pattern>
    </servlet-mapping>
    <session-config>
        <!-- Un temps volontairement court : 1 minute -->
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ConnexionController</welcome-file>
    </welcome-file-list>
</web-app>
